.layout {
  height: 100%;
  display: flex;
}

.main {
  flex: 1;
}

.container {
  height: calc(100% - 70px);
  padding: 0 15px 15px;
}

.content {
  height: 100%;
  padding: 15px ;
  border-radius: 3px;
  background: #fff;
  overflow: auto;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #108ee9;
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}
